body{
    font-family: 'Poppins',sans-serif;
}



.cabecalho{
    background-color: #383D58;
    color:white;
    display: flex;
    justify-content: space-around;
}
.galocego{
    width: 200px;
    position: relative;
    top:50px;
    left: 150px;

}
.cabecalho-lista-item{
     display: inline-block;
     margin: 0 16px;
     padding: 24px 0;
     font-size: 24px;

    
}
.escola-imagem{
  width: 35%;

}
.escola{

    background-image: linear-gradient(#383D58,#400036);
    color:white;
    display:flex;
}
.escola-conteudo{
    width: 35%;
    display:block;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}
.escola-titulo{
    padding:24px 0;

}
.estudante-imagem{
    width: 120px;
}